/* ======== GENERAL STYLES ========= */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
section, header, nav ul, blockquote {
  width: 900px;
  margin: auto;
}
h2 {
  color: #387a1e;
}
a {
  color: #e2ffbf;
}

/* ------- HEADER ------- */
header {
  position: relative;
}
header > img {
  margin: 20px;
}
header > p {
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #387a1e;
  display: inline-block;
  margin: 0;
}
header p a:only-child {
  color: #387a1e;
}

/* ------- NAVIGATION ------- */
nav > ul {
  background-color: #5ca92c;
  color: white;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 20px 40px;
}
nav ul li a {
  color: #e2ffbf;
}

/* ------- CALL TO ACTION ------- */
section.cta {
  background-color: #5ca92c;
  width: 100%;
  padding: 20px;
  margin-top: 40px;  
  text-align: center;
  clear: right;
}
section.cta h2 {
  color: white;
}
/* ------- FOOTER ------- */
footer small {
  background-color: #292929;
  text-align: center;
  color: white;
  padding: 20px;
}

/* ======== HOME PAGE STYLES ========= */

/* ------- HERO ------- */
section.hero {
  background-image: url(images/mowing-lawn.jpg);
  background-size: cover;
  padding: 150px;
  margin: 0;
  width: 100%;
  text-align: center;
}
section.hero h1 {
  color: white;
  font-size: 48px;
}

/* ------- ABOUT ------- */
section.home-about  {
  padding: 40px 0;
}

/* ------- QUOTES ------- */
blockquote {
  background-color: lightgray;
  padding: 60px;
  width: 900px;
  margin: 0 auto 40px auto;
  text-align: center;
}
blockquote q {
  line-height: 1.6;
}
blockquote p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* ======== ABOUT PAGE STYLES ========= */
section > h1 {
  font-size: 32px;
}
section.founder {
  padding: 20px 40px 20px 0;
  overflow: hidden;
  background-color: lightgray;
  margin: 40px auto;
}
section.founder figure {
  float: left;
  text-align: center;
  width: 50%;
}
section.team {
  clear: left;
  padding: 20px 0 20px 40px;
  overflow: hidden;
  background-color: lightgray;
}
section.team figure {
  float: right;
  text-align: center;
  width: 50%;
}
section.team img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}
section.team figcaption {
  font-style: italic;
}
